<section class="page">
    <article class="about-us">
        <h3>Welkom bij Travel-buddies</h3>
        <br>
        U bent een nieuwsgierige reiziger. Je gaat vaak op avontuur en je hebt de tijd van je leven, maar er mist iets.
        Je wilt graag een partner die met je meereist. Een partner die dezelfde interesses als jouw heeft op het gebied van reizen.
        Iemand waarmee je kan lachen, mee kan drinken en er mee kan van genieten. 
        Zoekt u zo iemand? Dan bent u op de juiste plek bij Travel-buddies.
        <br><br>
        <h3>Wat doet Travel-buddies voor u?</h3>
        <br>
        Via Travel-buddies krijgt u de mogelijkheid om iemand te vinden op
        basis van u interesses en reizen die u geplant heeft.
        Wij kijken voor u of er een geschikte buddy is en als jullie dezelfde interesses hebben is het mogelijk om met elkaar in contact te komen.
        Zo kunt u met elkaar chatten en wellicht heeft u uw geschikte buddy gevonden!
        <br><br>
        <h3>Hoe werkt het?</h3>
        <br>
        U vult verschillende gegevens in. Dit betreft uw naam, leeftijd, geslacht tot interesses
        die kunnen variëren van lekker uitgaan tot bergen beklimmen. Nadat u uw gegevens heeft ingevuld krijgt u van
        ons een account waarop u kunt inloggen met een gebruikersnaam en wachtwoord. Als u ingelogd bent krijgt u verschillende
        mogelijke buddy's te zien die vergelijkbare interesses als u hebben. Als je iemand vindt die u leuk lijkt, kan je een match verzoek sturen. Als deze persoon uw verzoek heeft geacepteerd, is er officieel een match. Jullie kunnen dan
        met elkaar communiceren en wellicht reizen jullie samen naar jullie favoriete bestemming!
        <br><br>
        <h4 class="centered">Bent u geïnteresseerd en wilt u uw perfectie vakantiematching vinden? Meld je dan nu aan!</h4>
    </article>
    <article class="contains-table">
        <div class="cards-wrapper">
            <div class="card">
                <img src="https://i.gyazo.com/af3747579c8431c6945dc38da649b6d1.png" alt="Auke Steenman">
                <h1>Auke Steenman</h1>
                <ul>
                    <li><b>Vooropleiding:</b> Mbo applicatieontwikkeling</li>
                    <li><b>Leeftijd:</b> 19</li>
                    <li><b>Woonplaats:</b> Amstelveen</li>
                    <li><b>Rol:</b> Software engineer</li>
                </ul>
            </div>
            
            <div class="card">
                <img src="https://i.gyazo.com/600f93722cf3902b2c5a6b69314c83c7.png" alt="Tijs de Graaff">
                <h1>Tijs de Graaff</h1>
                <ul>
                    <li><b>Vooropleiding:</b> Mbo applicatieontwikkeling</li>
                    <li><b>Leeftijd:</b> 19</li>
                    <li><b>Woonplaats:</b> Mijdrecht</li>
                    <li><b>Rol:</b> Software engineer</li>
                </ul>
            </div>

                <div class="card">
                    <img src="https://i.gyazo.com/ba55465abc1a8f5fbd57c051dcc4b4a3.png" alt="Rob Roy">
                    <h1>Rob Roy</h1>
                    <ul>
                        <li><b>Vooropleiding:</b> Mbo applicatieontwikkeling</li>
                        <li><b>Leeftijd:</b> 21</li>
                        <li><b>Woonplaats:</b> Kudelstaart</li>
                        <li><b>Rol:</b> Software engineer</li>
                    </ul>
                </div>

                <div class="card">
                    <img src="https://i.gyazo.com/8a9c10daaadb50561079ddba5a24d923.png" alt="Romano Asciutto">
                    <h1>Romano Asciutto</h1>
                    <ul>
                        <li><b>Vooropleiding:</b> MBO applicatieontwikkeling</li>
                        <li><b>Leeftijd:</b> 21</li>
                        <li><b>Woonplaats:</b> Amsterdam</li>
                        <li><b>Rol:</b> Software engineer</li>
                    </ul>
                </div>

                <div class="card">
                    <img src="https://i.gyazo.com/f4025f0c00229f2e2fdfd9a11514f324.png" alt="Jerry Geerts">
                    <h1>Jerry Geerts</h1>
                    <ul>
                        <li><b>Vooropleiding:</b> MBO applicatieontwikkeling</li>
                        <li><b>Leeftijd:</b> 20</li>
                        <li><b>Woonplaats:</b> Zaandam</li>
                        <li><b>Rol:</b> Software engineer</li>
                    </ul>
                </div>

                <div class="card centered">
                    <h1>Samenwerkingsafspraken:</h1>
                    <p>
                        Onze samenwerkingsafspraken staan verwerkt en vastgesteld in ons samenwerkingscontract dat we samen hebben opgesteld. Dit contract is <a href="../client/Resources/Documents/1_Definitie/Samenwerkingscontract.pdf" target="_blank">Hier</a> te vinden, hier staat in beschreven hoe we producten moeten opleveren en hoe we met elkaar omgaan.
                        Ook staan hier concreten regels in waar we ons allemaal aan moeten houden, zoals bijvoorbeeld optijd komen.
                    </p>
                </div>
        </div>
    </article>
</section>