<section class="page">
    <article class="contains-table">
        <div class="grid-container">
            <div class="container Aanleiding" onclick="read_function(this, 0);">
                <p class="inner-title">Aanleiding</p>
                <p class="inner-text">Zeventig jaar geleden telde Nederland 285.000 alleenstaanden, inmiddels zijn dat er meer<br> dan drie miljoen
                    uit deze cijfers kunt u zien dat het aantal hard stijgt, aldus Centraal Bureau voor de<br> statistiek.
                    De verwachting is dat in 2030 dit aantal is gestegen naar 3,6 miljoen. Een alleen staande kan iemand<br>                    
                    zijn die vrijgezel is maar ook iemand die gescheiden is of weduwe/weduwnaar is. In de vakantiewereld
                    is er een groeiende vraag naar reizen voor alleenstaanden.<br> Voor sommige reizigers is het ’s avonds
                    alleen geen glas wijn drinken fijn, anderen mensen reizen liever samen met familie of vrienden, of met<br>                    
                    heel nieuw gezelschap. Het kan leuk zijn om (een deel) van de reis op te trekken met iemand met dezelfde
                    interesses.<br> Corendon wilt op deze ontwikkeling inspelen en wil de alleenstaande reizigers met elkaar
                    in contact brengen op basis van gezamenlijke interesses.
            </div>
            <div class="container Aanpak" onclick="read_function(this, 1)" ;>
                <p class="inner-title">Aanpak</p>
                <p class="inner-text">
                    Team 2 zal tijdens de span van een halfjaar een webapplicatie bouwen die ondersteund zal worden op een aantal van de<br>                    
                    mainstream browsers. Hieronder vallen: Chrome, Firefox, Internet Explorer, Edge en Safari. Deze webapplicatie
                    zal gebruikt<br> worden door de klanten van het reisbureau Corendon.<br><br> Team 2 begint met het verzamelen
                    en documenteren van hun acties en geplande acties. Nadat dit vastgelegd en verzameld is<br> zal de website
                    gebouwd worden. Dit zal op een gestructureerde manier in zijn werk gaan met de stappen uit de geleverde<br>                    
                    documentatie.<br> Nadat de applicatie gereed is voor commercieel gebruik zullen er medewerkers van Corendon
                    gevraagd worden om het programma<br> leren te gebruiken en te onderhouden.<br>
                </p>
            </div>
            <div class="container Verwachte-Resultaten" onclick="read_function(this, 2);">
                <p class="inner-title">Verwachte Resultaten</p>
                <p class="inner-text">
                    Aan het eind van het project zullen deze resultaten verwacht worden:<br> 1. Een web applicatie met de
                    volgende pagina’s.<br> - Een introductie pagina.<br> - Een pagina met functionele requirements .<br>                    
                    - Een pagina met non functionele requirements.<br> - Een businesscase pagina.<br> - Een pagina met samenwerkings
                    afspraken.<br> - applicatie mogelijkheden<br> - Resposive zijn voor smartphones en tablets.<br> - De
                    locaties kunnen uitlezen van de gebruikers.<br> - Interesses kunnen categoriseren.<br><br> 2. gebruiker
                    mogelijkhedn<br> - Een gebruiker moet zich kunnen registreren.<br> - Een gebruiker moet zich kunnen registreren.<br>                    
                    - Een gebruiker moet kunnen inloggen.<br> - Een gebruiker moet zijn gegevens kunnen wijzigen.<br> - Een
                    gebruiker moet zijn gegevens kunnen verwijderen.<br> - Een gebruiker moet zijn gegevens kunnen inzien
                    op een profielpagina.<br> - Een gebruiker moet kunnen matchen met andere gebruikers op basis van locatie
                    en interesses.<br> - Een gebruiker moet kunnen praten met deze matches D.M.V. een ingebouwd chat systeem.<br>                    
                    - Een gebruiker moet notificaties kunnen ontvangen van zijn/haar matches.<br> - Een gebruiker moet notificaties
                    ontvangen als pushbericht.<br> - Een profielfoto kunnen uploaden. - Een groep kunnen aanmaken om met
                    meerder gebruikers in contact te komen.<br><br> 3. Admin mogelijk<br> - Een admin moet kunnen inloggen.<br>                    
                    - Interesses kunnen aanmaken.<br> - Een gebruiker kunnen wijzigen.<br>
            </div>
            <div class="container Risicos" onclick="read_function(this, 3);">
                <p class="inner-title">Risico's</p>
                <p class="inner-text">
                    De belangrijkste risico’s dat team2 tijdens het project kan tegenkomen<br><br> Een merge conflict met
                    de service “Git”.<br> Een merge conflict onstaat als 2 of meer mensen een bestand tegelijkertijd proberen
                    te proberen te pushen naar de branch. <br> Als dit tegelijkertijd gebeurd weet git niet meer welk bestand
                    hij moet gebruiken en komt er een conflict. Een risico kan <br> zijn dat iemand dit automatisch laat
                    oplossen en dat git belangrijke code overschrijft en zo de applicatie onstabiel maakt. <br> Dit kan het
                    beste opgelost worden als de mensen die het merge conflict veroorzaakt hebben gezamenlijk besluiten wat
                    weg moet <br> en wat moet blijven.<br><br> Een ernstige beveiligingsfout wat kan leiden tot “Datadiefstal”.<br>                    
                    Team 2 is een groep studenten die net aan de opleiding Software Engineering zijn begonnen. Dit betekent
                    dat ze op bepaalde <br> vlaktes redelijk veel kennis missen. Dit kan leiden tot een fout bij bijvoorbeeld
                    het inloggen van een gebruiker. Hierdoor <br> kunnen er gegevens gestolen worden door criminelen. Dit
                    kan voorkomen worden door goed op te letten bij de informatie lessen<br> en meteen bij twijfel vragen
                    stellen bij een leidinggevende.<br><br> Met elkaar in conflict dat kan eindigen in minder voortgang.<br>                    
                    Team2 zijn een aantal fanatieke programmeurs. Met fanatiek gedrag komt koppigheid gepaard. Dit kan leiden
                    tot conflicten <br> waardoor bepaalde onderdelen niet afgemaakt kunnen worden. Of het ergste scenario,
                    dat één van de teamleden het team verlaat.<br> Dit kan voorkomen worden door naar beide partijen te kijken
                    en kijken welke oplossing het best past bij het probleem door voor <br> en nadelen op te schrijven.<br><br>                    
                    Verlies van lokale data die niet al gecommit was in git.<br> Omdat er lokaal gewerkt wordt aan bestanden
                    is er natuurlijk een kans dat lokale machines het begeven voordat de bestanden zijn<br> opgeslagen en
                    gestuurd zijn naar de server. Een voorbeeld hier bij kan zijn: Teamlid 1 probeert een lastige functionaliteit
                    toe <br> te voegen hier is hij/ zij al 5 dagen mee bezig. Maar heeft het nog niet gecommit aan de server.
                    Dan uit het niets valt zijn laptop<br> uit en na een aantal uur ziet hij dat zijn harde schijf schrijffouten
                    maakt, Het bestand waar hij zolang mee bezig was geweest kan<br> niet meer gebruikt worden en hij moet
                    overnieuw beginnen. Dit kan voorkomen worden door regelmatig de lokale hardware te checken <br> op fouten
                    of kwalen. En elke dag zijn voortgang uploaden naar bijvoorbeeld een “testbranche”.<br>
                </p>
            </div>
            <div class="container Alternatieven" onclick="read_function(this, 4);">
                <p class="inner-title">Alternatieven</p>
                <p class="inner-text">
                    Layout wijkt af van de huidge Corendon website<br><br>
                    <strong>voordelen</strong><br> a) Team 2 heeft meer flexibiliteit qwa het ontwerpen van de website.<br>
                    <strong>nadelen</strong><br> a) Het is natuurlijk mooier als een child site van Corendon ook het design
                    heeft van Corendon <br>
                </p>
            </div>
            <div class="container Globale-Planning" onclick="read_function(this, 5);">
                <p class="inner-title">Globale Planning</p>
                <p class="inner-text">
                    <a href="Globale-Planning.png" target="_blank"><img id="planning" src="Globale-Planning.png"/></a>
                </p>
            </div>
            <div class="container Bron-Vermelding" onclick="read_function(this, 6);">
                <p class="inner-title">Bron Vermelding</p>
                <p class="inner-text">
                    <a href="https://vlo.informatica.hva.nl/courses/1000PFYS18/document/Software-Engineering/Workshops/Workshop-1-Requirements-Business-Case-Interview/FYS-SE-BusinessCase_Voorbeeld.pdf?cidReq=1000PFYS18&id_session=0&gidReq=0&gradebook=0&origin=">
                        [HVA2018] Spreadsheat FYS-SE-Business_Case_Voorbeeld.xlsx </a><br>                    
                        is gebruikt om dit document te maken
                </p>
            </div>
        </div>




    </article>
</section>